<template name="about">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="list-group">
          <a href="#" class="list-group-item active">About JNF</a>
          <a href="#" class="list-group-item">Our History</a>
          <a href="#" class="list-group-item">Our Leadership</a>
          <a href="#" class="list-group-item">JNF In Your Area</a>
          <a href="#" class="list-group-item">News &amp; Media</a>
          <a href="#" class="list-group-item">Events</a>
          <a href="#" class="list-group-item">Employment</a>
        </div>
      </div>


      <div class="col-md-6">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

     
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <img src="img/img00.jpg" alt="...">
            <div class="carousel-caption">
              <!-- ... -->
            </div>
          </div>

          <div class="item">
            <img src="img/img01.jpg" alt="...">
            <div class="carousel-caption">
              <!-- ... -->
            </div>
          </div>

          <div class="item">
            <img src="img/img02.jpg" alt="...">
            <div class="carousel-caption">
              <!-- ... -->
            </div>
          </div>


          <div class="item">
            <img src="img/img03.jpg" alt="...">
            <div class="carousel-caption">
              <!-- ... -->
            </div>
          </div>

          <!-- ... -->
        </div>  <!-- Wrapper for slides -->





        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>


                <hr>

        <a href="https://www.facebook.com/jewishnationalfund"><img src="/img/fbLogo.jpg" alt="..."></a> 
        <a href="https://twitter.com/JNFUSA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="/img/twitterLogo.png" alt="..."></a>
        <a href="https://www.youtube.com/user/jewishnationalfund"><img src="/img/youtubeLogo.jpg" alt="..."></a> 
        <a href="https://www.linkedin.com/company/jewish-national-fund"><img src="/img/linkedinLogo.jpg" alt="..."></a>

        <a href="">Printer Friendly</a>

      </div>



      <div class="col-md-4">
        <!--Sign Up Box -->
              <DIV id=signupBox>
              <h3>Log In</h3>
              <form class="form-group" id="signinform" name="signin_248761088" method="post" action="http://support.jnf.org/site/UserLogin">
              <input name="NEXTURL" type="hidden" value="" />
    <!--           <p class="PromptText">Please log in to change your profile or settings.</p> -->
              <p><label for="USERNAME_248761088">Username: </label><input name="USERNAME" class="USERNAME form-control" size="13" value="" maxlength="60" type="text"></p>

              <p><label for="Password_248761088">Password:&nbsp; </label><input name="Password" class="Password form-control" size="13" maxlength="20" type="password"></p>

              <input name="login" class="login btn btn-primary" value="Log In" title="Log In" type="submit">
              <label for="RememberMe_248761088">Remember Me?</label> | 
              <input name="RememberMe" class="RememberMe" value="RememberMe" type="checkbox">
              <p></p>
              
                  
              <p class="Link">»&nbsp;<a href="http://support.jnf.org/site/Survey?SURVEY_ID=6266&ACTION_REQUIRED=URI_ACTION_USER_REQUESTS">Sign up to receive emails and stay informed about JNF</a></p>

              <p class="Link">»&nbsp;<a href="http://support.jnf.org/site/UserLogin">Forgot Your Password?</a></p>

              </form>

              </DIV>

      </div>
    </div>



<hr>




    <div class="row">

      <div class="col-md-2 backdrop">
        <img src="/img/videoChannel_btn.png" alt="..."><br />
        <img src="/img/newsAndMedia_btn.png" alt="..."><br />
        <img src="/img/jnfStore_btn.jpg" alt="..."><br />
        <img src="/img/speakers_btn.png" alt="..."><br />
        <img src="/img/njmwReminder_btn.png" alt="..."><br />
        <img src="/img/njmwPlaque_btn.png" alt="..."><br />
        <img src="/img/smileAmazon_btn.png" alt="...">
      </div>



      <div class="col-md-7">


<p>Over the past 113 years, JNF has evolved into a global environmental leader by planting more than 250 million trees, building over 240 reservoirs and dams, developing over 250,000 acres of land, creating more than 2,000 parks, providing the infrastructure for over 1,000 communities, and connecting thousands of children and young adults to Israel and their heritage.</p>
<h3>Our History</h3>
<p>Jewish National Fund is a non-profit organization founded in 1901. It all started&nbsp;with a dream. Theodor Herzl, a Viennese journalist, witnessed virulent anti-Semitism at the Dreyfus trial.&nbsp;He knew it was time to take action, and&nbsp;was determined that before the Fifth Zionist Congress in Basel, Switzerland came to an end, a national fund would be established to purchase land for a Jewish State in Ottoman-controlled Palestine. <a href="http://www.jnf.org/about-jnf/history/" title="Our History ">Read more</a></p>
<h3>Leadership</h3>
<p>Learn about the dedicated people who energize and put in motion JNF&rsquo;s projects and campaigns. <a href="http://www.jnf.org/about-jnf/our-leadership/board-members/" title="JNF Board of Directors">Read more</a></p>
<h3>News &amp; Media</h3>
<p>JNF is making headlines around the world. <a href="http://www.jnf.org/about-jnf/news/" title="News & Media">Read more</a> about our work in Israel and at home.</p>
<h3>JNF in Your Area</h3>
<p>Our offices around the country can provide you with more information about our work. Also, contact the office closest to you if you&rsquo;re interested in getting involved! <a href="http://www.jnf.org/about-jnf/in-your-area/" title="In Your Area">Find the closest JNF office to you</a>.</p>
<h3>International Relations</h3>
<p>Jewish National Fund is a United Nations NGO (non-governmental organization), and has worked to develop partnerships with a number of government and professional organizations to further cooperative relationships, conduct research, share technical expertise and obtain educational exchanges. <a href="http://www.jnf.org/about-jnf/international-relations/" title="International Relations ">Read more</a></p>
<h3>Events</h3>
<p><a href="http://www.jnf.org/about-jnf/events/" title="Calendar of Events">View the JNF calendar</a> to see national events or activities in your region.</p>
<h3>Contact Us</h3>
<p>If you would like more information about Jewish National Fund, need to contact a specific person or are looking to make a donation, please use the <a href="http://www.jnf.org/includes/contact-us.html" title="Contact Us">contact information here.</a><a href="#"> </a></p>
<h3>Employment</h3>
<p>If you are interested in a rewarding position where you can help contribute to JNF&rsquo;s future and that of the people of Israel, <a href="http://www.jnf.org/about-jnf/employment/" title="Employment ">click here</a> and view our current opportunities.</p>
<h3>Jewish National Fund Annual Report <span style="font-weight: normal; font-size: 14px;">- <a href="http://www.jnf.org/assets/pdf/07-2014-jnf-annual-report_v2.pdf">Download</a></span></h3>
<h3><span style="font-weight: normal; font-size: 14px;"></span><span style="font-weight: normal; font-size: 14px;"><span style="font-size: small;">Jewish National Fund 990 - </span><a href="http://support.jnf.org/site/DocServer/829792907?d_opview=&amp;docID=7281"><span style="font-size: small;"><span style="font-size: small;"><a href="http://www.jnf.org/assets/pdf/10-30-14_jewish-national-fund-990.pdf">Download</a></span></span></a></span></h3>




      </div>

      <div class="col-md-3 backdrop">
        <img src="/img/plant_btn.jpg" alt="..."><br />
        <img src="/img/plannedGivingOptions.jpg" alt="..."><br />
      </div>
    </div>





      <hr>

      <footer>
        <p>JNF&copy; Company 2015</p>
        
      </footer>

    </div><!--/.container-->
</template>