<template name="navbar">
  <div class="container">
    <div class="col-md-4 jnfLogo00">
      <img src="/img/jnfLogo00.jpg">
    </div>
    <div class="col-md-4 jnfLogo01">
      <img src="/img/jnfLogo01.jpg">
    </div>
    <div class="col-md-4">
    </div>
  </div>
  
    <nav class="navbar navbar-white">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DONATE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#about">DONATE</a></li> -->
            <li><a href="#about">About</a></li>
            <li><a href="#work_we_do">The Work We Do</a></li>
            <li><a href="#our_work">Support Our Work</a></li>
            <li><a href="#in_your_area">JNF In Your Area</a></li>
          </ul>
          
          <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</template>