<template name="home">
  <div class="jumbotron">
  <h1>Welcome to Karmel</h1>
  <p>Our simple personality based questionnaire will gather specific information of you, our user and our advance system's logic, and life specialist Karmel will analize, diagnose, and provide a detailed strategy for success. Note: Additional subjects can be provided via request.</p>
  <p><a class="btn btn-primary btn-lg">Learn more about Karmel</a> <a class="btn btn-primary btn-lg">Success Stories</a></p>
  </div>
</template>